<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Monitoring Statistics</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">



        {% load static %}

    <!-- Bootstrap CSS
                ============================================ -->
    <link rel="stylesheet" type="text/css" href="{% static 'report-styles/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'report-styles/bootstrap-table.css' %}">

    <link rel="stylesheet" href="{% static 'report-styles/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'report-styles/morris.css' %}">


    <link rel="stylesheet" href="{% static 'report-styles/style.css' %}">
    <!-- responsive CSS
                ============================================ -->
    <!-- loader -->
    <style>

        #header-fixed {
	        position: fixed;
   		top: 0px; display:none;
    		background-color:white;
	}

	.loader {
  		border: 16px solid #f3f3f3;
 		border-radius: 50%;
  		border-top: 16px solid #3498db;
  		width: 500px;
  		height: 500px;
		margin : auto;
  		-webkit-animation: spin 2s linear infinite; /* Safari */
  		animation: spin 2s linear infinite;
	}

	/* Safari */
	@-webkit-keyframes spin {
  		0% { -webkit-transform: rotate(0deg); }
  		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
  		0% { transform: rotate(0deg); }
  		100% { transform: rotate(360deg); }
	}

      </style>

</head>

<body>
     



	{% include "monitoring/monitoring-header.html" %}

        <div class="advanced-form-area mg-b-15" style="margin-top : 60px;">
                <div class="container-fluid">
                    <div class="row">
                            <div class="sparkline10-list mg-tb-30 responsive-mg-t-0 table-mg-t-pro-n dk-res-t-pro-0 nk-ds-n-pro-t-0" style="margin-left: 40px; margin-right: 40px;">
                                <div class="sparkline10-graph">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="chosen-select-single mg-b-20">
                                                    <b>
                                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="form-select-list"> </div>
                                                             </div>
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                    </div>
                </div>
        </div>


	<div id="loader" class="loader" style="visibility: hidden; display:none;"></div>
	<div id="information-div" style="visibility:hidden; display:none;">

        	<div class="row">
                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        	<div class="charts-single-pro responsive-mg-b-30">
                            		<div class="alert-title">
                                		<h2>Ads with explanations</h2>
                                		<p>Proportion of Ads for which explanations were extracted</p>
                            		</div>
                            		<div id="pie-chart">
                                		<canvas style="height:300px;" id="explanations-ads-piechart"></canvas>
                            		</div>
                        	</div>
                    	</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="charts-single-pro responsive-mg-b-30">
                                        <div class="alert-title">
                                                <h2>Users with explanations</h2>
                                                <p>Number of users for which explanations are extracted</p>
                                        </div>
                                        <div id="pie-chart">
                                                <canvas style="height:300px;" id="explanations-users-piechart"></canvas>
                                        </div>
                                </div>
                        </div>
		</div>
		
                <div class="row" style="margin-top : 40px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-sales-chart">
                            <div class="portlet-title">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="caption pro-sl-hd">
                                            <span class="caption-subject"><b>Explanations collection by interface version</b></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="actions graph-rp graph-rp-dl">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline cus-product-sl-rp">
                                <li>
                                    <h5><i class="fa fa-circle" style="color: #006DF0;"></i>Users</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle" style="color: #933EC5;"></i>Users with ads</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle" style="color: #65b12d;"></i>Users with explanations</h5>
                                </li>
                            </ul>
                            <div id="explanations-bar-chart" style="height: 356px;"></div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top : 60px;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="charts-single-pro responsive-mg-b-30">
                                        <div class="alert-title">
                                                <h2>Users with interests</h2>
                                                <p></p>
                                        </div>
                                        <div id="pie-chart">
                                                <canvas style="height:300px;" id="users-interests-piechart"></canvas>
                                        </div>
                                </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="charts-single-pro responsive-mg-b-30">
                                        <div class="alert-title">
                                                <h2>Users with advertisers</h2>
                                                <p></p>	
                                        </div>
                                        <div id="pie-chart">
                                                <canvas style="height:300px;" id="users-advertisers-piechart"></canvas>
                                        </div>
                                </div>
                        </div>
                </div>


                <div class="row" style="margin-top : 40px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-sales-chart">
                            <div class="portlet-title">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="caption pro-sl-hd">
                                            <span class="caption-subject"><b>Advertisers and interests collection by interface version</b></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="actions graph-rp graph-rp-dl">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline cus-product-sl-rp">
                                <li>
                                    <h5><i class="fa fa-circle" style="color: #006DF0;"></i>Users</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle" style="color: #933EC5;"></i>Users with interests</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle" style="color: #65b12d;"></i>Users with advertisers</h5>
                                </li>
                            </ul>
                            <div id="interests-advertisers-bar-chart" style="height: 356px;"></div>
                        </div>
                    </div>
                </div>


    </div>

    <!-- jquery
		============================================ -->
    <script src="{% static 'report-scripts/jquery-1.12.4.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap JS
		============================================ -->
    <script src="{% static 'report-scripts/bootstrap.min.js' %}"></script>

    <script src="{% static 'report-scripts/bootstrap-table.js' %}"></script>
    <script src="{% static 'report-scripts/tableExport.js' %}"></script>
    <script src="{% static 'report-scripts/bootstrap-table-export.js' %}"></script>


    <script src="{% static 'report-scripts/tableExport.js' %}"></script>

    <script src="{% static 'report-scripts/raphael-min.js' %}"></script>

    <script src="{% static 'report-scripts/morris.js' %}"></script>

    <script src="{% static 'report-scripts/Chart.js' %}"></script>

    <script src="{% static 'report-scripts/rounded-chart.js' %}"></script>

    <script>


	 function getData(timestamp) {
                $('#information-div').css("visibility", "hidden");
                $('#information-div').css("display", "none");

                $('#loader').css("visibility", "visible");
                $('#loader').css("display", "block");

		sendRequest(timestamp);
	 }

	 function sendRequest(timestamp) {
                $.ajax({
                        type:'POST',
                        url:'get_explanations_and_preferences?user='+user,
                        data: {'timestamp':timestamp},
                        success:function(resp){
                                if (resp.status!=='success') {
                                        return
                                }

				displayCharts(resp);
				displayBars(resp["ads_explanations_per_interface"]);
                                $('#loader').css("visibility", "hidden");
                                $('#loader').css("display", "none");
                                $('#information-div').css("visibility", "visible");
                                $('#information-div').css("display", "block");

				window.setTimeout(function(){sendRequest(lastTimeStamp);}, 15 * 60 * 1000);
                        }
                })

	 }

	 function displayBars(data) {

		Morris.Bar({
        		element: 'explanations-bar-chart',
        		data: data,
	        	xkey: 'interface',
        		ykeys: ['users', 'ads', 'explanations'],
        		labels: ['Users', 'Users with Ads', 'Users with explanations'],
        		barColors:['#006DF0', '#933EC5', '#65b12d'],
        		hideHover: 'auto',
         		barSizeRatio:0.45,
        		gridLineColor: '#eef0f2',
        		resize: true
    		});
                window.dispatchEvent(new Event('resize'));


                Morris.Bar({
                        element: 'interests-advertisers-bar-chart',
                        data: data,
                        xkey: 'interface',
                        ykeys: ['users', 'interests', 'advertisers'],
                        labels: ['Users', 'Users with interests', 'Users with advertisers'],
                        barColors:['#006DF0', '#933EC5', '#65b12d'],
                        hideHover: 'auto',
                        barSizeRatio:0.45,
                        gridLineColor: '#eef0f2',
                        resize: true
                });
                window.dispatchEvent(new Event('resize'));
	 }

	 function displayCharts(resp) {
		var ctx = document.getElementById("explanations-ads-piechart");
		var piechart = new Chart(ctx, {
			type: 'pie',
			data: {
				labels: ["Ads without explanations", "Ads with explanations"],
				datasets: [{
					label: 'pie Chart',
                			backgroundColor: [
						'#65b12d',
						'#006DF0'
					],
					data: [resp["ads_explanations"]["not-active"], resp["ads_explanations"]["active"]]
            			}]
			},
			options: {
				responsive: true
			}
		});

                var ctx = document.getElementById("explanations-users-piechart");
                var piechart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                                labels: ["users for which no explanation was collected","users for which at least one explanation was collected"],
                                datasets: [{
                                        label: 'pie Chart',
                                        backgroundColor: [
                                                '#65b12d',
                                                '#006DF0'
                                        ],
                                        data: [resp["users_explanations"]["not-active"], resp["users_explanations"]["active"]]
                                }]
                        },
                	options: {
                        	responsive: true
                	}
                });

                var ctx = document.getElementById("users-interests-piechart");
                var piechart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                                labels: ["users for which interests were not collected", "users for which interests were collected at least once"],
                                datasets: [{
                                        label: 'pie Chart',
                                        backgroundColor: [
                                                '#65b12d',
                                                '#006DF0'
                                        ],		
                                        data: [resp["users_interests"]["not-active"], resp["users_interests"]["active"]]
                                }]
                        },
                        options: {
                                responsive: true
                        }
                });

                var ctx = document.getElementById("users-advertisers-piechart");
                var piechart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                                labels: ["users for which advertisers were not collected", "users for which advertisers were collected at least once"],
                                datasets: [{
                                        label: 'pie Chart',
                                        backgroundColor: [
                                                '#65b12d',
                                                '#006DF0'
                                        ],
                                        data: [resp["users_advertisers"]["not-active"], resp["users_advertisers"]["active"]]
                                }]
                        },
                        options: {
                                responsive: true
                        }
                });


	 }


	 function displayGeneralInfo(resp) {
		var totalAds = document.getElementById("totalAds");
		totalAds.innerHTML = resp.totals.ads;
                var totalNews = document.getElementById("totalNews");
                totalNews.innerHTML = resp.totals.newsposts;
                var totalPublic = document.getElementById("totalPublic");
                totalPublic.innerHTML = resp.totals.publicposts;
                var totalPosts = document.getElementById("totalPosts");
                totalPosts.innerHTML = resp.totals.posts;

                var totalAds = document.getElementById("adsPercent");
                totalAds.innerHTML = resp.actives.ads + " active users out of " + resp.totalUsers;
                var totalNews = document.getElementById("newsPercent");
                totalNews.innerHTML = resp.actives.newsposts + " active users out of " + resp.totalUsers;
                var totalPublic = document.getElementById("publicPercent");
                totalPublic.innerHTML = resp.actives.publicposts + " active users out of " + resp.totalUsers;
                var totalPosts = document.getElementById("postsPercent");
                totalPosts.innerHTML = resp.actives.posts + " active users out of " + resp.totalUsers;

                var totalAds = document.getElementById("adsPercent-bar");
		totalAds.style.width = ((resp.actives.ads / resp.totalUsers) * 100) + "%";
                var totalNews = document.getElementById("newsPercent-bar");
                totalNews.style.width = ((resp.actives.newsposts / resp.totalUsers) * 100) +"%";
                var totalPublic = document.getElementById("publicPercent-bar");
                totalPublic.style.width = ((resp.actives.publicposts / resp.totalUsers) * 100) +"%";
                var totalPosts = document.getElementById("postsPercent-bar");
                totalPosts.style.width = ((resp.actives.posts / resp.totalUsers) * 100) +"%"
	
	 }

        var date = new Date();
        date.setHours(0,0,0,0);
	lastTimeStamp = date.getTime()
	getData(lastTimeStamp);
	
    </script>
</body>

</html>
